<form class="well" (submit)="addBook($event)">
  <div class="form-group">
    <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Add Book...">
  </div>
  <div class="form-group">
    <input type="text" [(ngModel)]="author" name="author" class="form-control" placeholder="Add Author...">
  </div>
  <br>
  <button type="submit" class="btn btn-submit">Submit</button>
  <br>
</form>

<div class="book-list">
  <div *ngFor="let book of books">
    <div class="col-md-1">
        <input type="checkbox">
    </div>
    <div class="col-md-7">
        {{book.name}}
    </div>
    <div class="col-md-7">
      {{book.author}}
    </div>
    <div class="col-md-4">
        <input type="button" (click)="deleteBook(book._id)" value="Delete" class="btn btn-danger">
    </div>
    <br><br>
  </div>
</div>